:root {
    --color-primary-white: #FFFFFF;
    --color-primary-blue-light: #2B7FFF;
    --color-primary-blue-dark: #011C44;
    --color-secondary-grey-dark: #4A4A4A;
    --color-secondary-grey-light: #747272;
    --color-secondary-blue: #011F4A;
    --color-secondary-yellow: #FFD02B;
    --color-secondary-shadow: #A8C6F561;

}