





.section {
        padding: 48px 0;
&__title {
        font-family: 'Play', sans-serif;
        font-weight: 700;
        font-size: 64px;
        line-height: 1.16;
    }
        &__title-centered {
            text-align: center;
        }
                &__title-span {
                    font-family: 'Play', sans-serif;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 1.16;
                    color: var(--color-primary-blue-light);
        
                }
}