.why-we-section {

    padding-bottom: 0;
    height: 649px;


    &__text {
            font-size: 18px;
            line-height: 1.33;
            color: #000000;
            margin-top: 10px;
            margin-bottom: 0;
            @media screen and (min-width: $bp-tablet) {
                    font-size: 24px;
                }
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 12px;
            align-items: center;
            margin-bottom: 40px;

            @media screen and (min-width: $bp-tablet) {
                    margin-bottom: 48px;
            gap: 56px;
            flex-direction: row;
                }
    
        }
    
        &__article {
            text-align: center;
            padding: 32px 26px;
        }
    
        &__item {
            background-color: var(--color-primary-white);
            box-shadow: 0px 4px 4px 0px var(--color-secondary-shadow);
            border-radius: 32px;
            align-items: center;
        }
}
